body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f2f2f2;
    border-top: 3px solid #37a4d4; /* Línea azul en la parte superior */
    padding: 10px 0;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    max-width: 100px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar los enlaces */
    align-items: center; /* Alinear verticalmente los enlaces */
    flex: 1; /* Ocupar el espacio restante */
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .glide__arrows {
    position: absolute;
    bottom: 50px;
    width: 13rem;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  
  .glide__arrow {
    background-color: #39a4df !important;
    color: #ee0b0b;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100% !important;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .fa-chevron-left, .fa-chevron-right {
    font-size: 10px;

  }

  .glide__slides {
    position: relative; 
  }
  .glide__slide {
    position: relative;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    z-index: 1;
  }
  .read-more {
    display: none;
    text-align: left;
    padding: 20px;
    background-color: (0, 0, 0, 0.5);
    
  }
  .read-more-btn {
        background-color: #37a4d4;
        color: white;
        border-radius: 5px; /* Puedes ajustar el valor para cambiar la curvatura de las esquinas */
        padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
        border: none; /* Para quitar el borde predeterminado */
  }
  .content-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .content-section__image {
    flex: 1;
    margin-right: 0px;
  }
  
  .content-section__image img {
    max-width: 100%;
    height: auto;
    width: 100;
    display: block;
    margin-left: 90px;
  }
  
  .content-section__text {
    flex: 2.4;
  }
  
  .content-section__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content-section__text p {
    font-size: 16px;
    line-height: 1.6;
  }
    
 
  



  .container{
    display: inline-block;
}

.el1{
  display: inline-block;;
    flex-direction: column;
    width: 19rem;
 
}

.el2{
  display: inline-block;
    flex-direction: column;
    width: 13rem;
    border-right: 1px solid #37a4d4;
}

.el3{
    margin-left: 25px;
  display: inline-block;
    flex-direction: column;
    width: 20rem;
    
}

h1 {
  margin: 0;
}


h2 {
  margin: 0;
}
h3 {
  margin: 0;
}


.vieja{
  background-color: #37a4d4;
  color: white;
  border-radius: 5px; /* Puedes ajustar el valor para cambiar la curvatura de las esquinas */
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  border: none; /* Para quitar el borde predeterminado */
  margin-left: 200px;
}


































  .card {
    display: inline-block;
    width: 23%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    margin-left: 67px;
  }
  
  .card img {
    width: 40%;
    
  }
  
  .card h2 {
    margin-top: 10px;
  }
  
  .card button {
    margin-top: 10px;
    background-color: #37a4d4;
    color: white;
    padding: 10px 20px;
    border: none;
    
    cursor: pointer;
    width: 100%;
  }
  
  .card button:hover {
    background-color: #37a4d4;
    width: 100%;
  }

  .h1{
    text-align: center;
    color: #37a4d4;
  }



  .contenedor {
    text-align: center;
  }
  

  
  .contenido img {
    height: 30%;
    width: 35%;
    margin-left: 90px;
    margin-right: 600px; /* Ajusta el valor según la cantidad de espacio que desees entre la imagen y el texto a su derecha */
  }
  
  .textop {
   text-align: left;
    margin-left: 165px;
    font-size: 15px;
    /* Ajusta el valor según la cantidad de espacio que desees entre la imagen y el texto a su derecha */
  }

   
 